body {
    background-image: url(blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.a-1,.a-2,.a-3 {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    position: relative;
    top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
}
.div-a {
    text-align: right;

}
.a-3 {
    margin-right: 300px;
}
.div-i {
    text-align: right;
}
.img-1 {
    width: 600px;
    transition: transform 1s ease;
    position: relative;
    top: 50px;

}
.div-b {
    text-align: right;
}
.b-1 {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    margin-right:120px ;
    background-image: url(blurry-gradient-haikei\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.a-b {
    text-decoration: none;
    color: white;
}

.div-b1 {
    text-align: left;
    position: relative;
    bottom: 900px;
    margin-left: 30px;
}
.b-2 {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    margin-top: 25px;
    margin-right:120px ;
    background-image: url(blurry-gradient-haikei\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 180px;
}
.a-b1 {
    text-decoration: none;
    color: white;
}
.h1 {
    position: relative;
    bottom: 700px ;
    font-size: 70px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p-1 {
       position: relative;
    bottom: 730px ;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

    width: 300px;
}
.hed {
            backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
background-color: rgba(255, 255, 255, 0);
border-radius: 50px;
}
.img-1:hover {
    transform: scale(1.1);
}

.blo-1 {
    width: 250px;
    position: relative;
    bottom: 200px;
    position: relative;
    margin-bottom: 350px;
    
}
.blo-2 {
    width: 250px;
    position: relative;
    bottom: 200px;
    margin-bottom: 350px;
}
.blo-3 {
    width: 250px;
    position: relative;
    bottom: 200px;
    margin-bottom: 350px;
}
.blo{
    text-align: center;
    
}
.fot {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .container,
    .card,
    .box {
        width: 100%;
    }
    body {
        font-size: 16px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .h1 {
        font-size: 24px;
        line-height: 1.3;
        color: rgb(255, 255, 255);
        position: relative;
        bottom: 200px;
        margin-left: 10px;
    }
    .p-1 {
        font-size: 14px;
    }
    .img-1 {
        max-width: 100%;
        height: auto;
    }
    .a-1,
    .a-2,
    .a-3 {
        width: 100%;
        max-height: 120px;
        margin: 0px;
        text-align: left;
        
        

    }
    .a-2 {
        position: relative;
        right: 57px;
        
    }
    .a-3 {
        position: relative;
        right: 100px;
    }
}

@media (max-width: 768px) {

  .hed {
    position: relative;
    z-index: 100;
    padding: 2px 6px;
  }

  .div-a {
    display: flex;
    justify-content: start;
    gap: 16px;
  }

  .div-a a {
    font-size: 14px;
    white-space: nowrap;
  }

  .img-1 {
    width: 60%;
    max-height: 240px;
    object-fit: contain;
    display: block;
    margin: 0 auto 16px;
    position: relative;
    left: 140px;
    margin-left: 0px;
    height: 240px;
    top: 50px;
  }

  .div-2,
  .div-1 {
    position: relative;
    z-index: 20;
    text-align: center;
  }

  .div-2 h1 {
    font-size: 22px;
  }

  .p-1 {
    font-size: 10px;
    position: relative;
        bottom: 220px;
        margin-left: 10px;
  }

  .div-b {
    position: relative;
    z-index: 30;
    margin-top: 12px;
    text-align: center;
  }

  .b-1 {
    width: 100%;
    max-width: 80px;
    position: relative;
    bottom: 40px;
    left: 150px;
 }
 .div-b1 {
    width: 100%;
    position: relative;
    bottom: 370px;
    right: 30px;
 }
 .hed {
    height: 50px;
            backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
border-radius: 2px;
position: relative;
right: 10px;
}
.main {
    height:100% ;
    background-size: cover;
}
    .blo-1 {
        width: 100px;
        position: relative;
        bottom: 130px;
        margin-left: 0px;
    }
    .blo-2 {
        width: 100px;
        position: relative;
        bottom: 130px;
    }
    .blo-3 {
        width: 100px;
        position: relative;
        bottom: 130px;
    }
    .fot {
        font-size: 10px;
        color: white;
        text-align: center;
        position: relative;
        bottom: 30px;
    }

}




